@{
    Layout = null;
   
}

<!DOCTYPE html>

<html ng-app="cookingBookApp">
<head>
    <meta name="viewport" content="width=device-width" />
    @RenderSection("styles", required: false)

    <meta name="description" content="Cooking Book" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    

    <link href="@Url.Content("~/assets/css/bootstrap.min.css")" rel="stylesheet" />
    <link id="bootstrap-rtl-link" href="" rel="stylesheet" />
    <link href="@Url.Content("~/")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/font-awesome.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/weather-icons.min.css")" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300" rel="stylesheet" />
    <link id="beyond-link" href="@Url.Content("~/assets/css/beyond.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/skins/azure.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/css/typicons.min.css")" rel="stylesheet" />

    <link href="@Url.Content("~/assets/css/editor.css")" rel="stylesheet" />


    <link id="skin-link" href="" rel="stylesheet" type="text/css" />

    <!--Basic Styles-->
    <script src="@Url.Content("~/assets/js/skins.js")"></script>

    <!--Skin Script: Place this script in head to load scripts for skins and rtl support-->

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-cookies.min.js"></script>



</head>
<body ng-controller="applicationController">
    <div class="loading-container">
        <div class="loader"></div>
    </div>

    @Html.Partial("_NavigationBar")
    <!-- Main Container -->
    <div class="main-container container-fluid">
        <!-- Page Container -->
        <div class="page-container">


            @Html.Partial("_SideBar")




            @RenderBody()

            <div id="modal-warning" class="modal modal-message modal-warning fade" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="fa fa-warning"></i>
                        </div>
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="modal-error" class="modal modal-message modal-danger fade" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <i class="fa fa-exclamation-triangle"></i>
                        </div>
                        <div class="modal-body"></div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="@Url.Content("~/assets/js/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/assets/js/slimscroll/jquery.slimscroll.min.js")"></script>

    <!--Beyond Scripts-->
    <script src="@Url.Content("~/assets/js/beyond.js")"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

    
    <script src="@Url.Content("~/assets/js/datetime/bootstrap-datepicker.js")"></script>
    <script src="@Url.Content("~/assets/js/jasny/jasny-bootstrap.js")"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script src="@Url.Content("~/assets/js/editors/editor/editor.js")"></script>
    <script src="@Url.Content("~/Scripts/CookingBookApp.js")"></script>


    <!--Page Related Scripts-->
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
            var rootDir = "@Url.Content("~/")";
    </script>
</body>
</html>
